@page {
    @top-center {
        content: string(文件名);
    }
    @bottom-center {
        content: '——　' counter(__pgnum__) '　——';
    }
}
@media print{
    *{
        font-family: Consolas, 源流明體 TTF regular;
    }
    code {
        font-family: Consolas, 源流明體 TTF regular;
    }
    rt{ /*pdf不支持這個*/
        display: none;
    }
    a{ /*鏈接失效了*/
        color: #446 !important;
    }
    h1{
        string-set: 文件名 content() !important;
    }
}