@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap');

@media screen {
    body {
        font-family: 'Noto Serif SC';
    }

    code {
        font-family: consolas, 'Noto Sans SC';
    }

    .md-header {
        background-color: #feebc5 !important;
        background-image: url(http://magic-lib.com/紙背景花紋模糊.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        color: #000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    h2, h3, h4, h5 {
        font-family: 'Noto Sans SC';
    }

    h1 {
        padding: 0.8rem;
        background-color: #feebc5 !important;
        background-image: url(http://magic-lib.com/紙背景花紋模糊.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1), 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
        text-align: center;
        border-radius: 0.4rem;
    }
}
